@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GILROY';
  src: url('../assets/Gilroy/gilroy-medium.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ebeef6;
  font-family: 'Arial';
  font-style: normal;
}

* {
  box-sizing: border-box;
}
