.wrapper {
  .dateInput {
    @apply bg-[#f5f6fa] rounded-[8px] font-normal text-[14px] leading-[16px] text-[#667281] outline-none w-[365px] p-[12px] #{!important};

    &.required {
      @apply border-solid border border-[#ff4d4f];
    }
    &:focus {
      border-width: 1.2px;
      border-style: solid;
      border-color: #177eff !important;
      box-shadow: 0 0 0 1px #177eff !important;
    }
  }
}
